.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    font-family: "MediumCereal";
    font-size: 0.9rem;
}

.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    font-family: "BookCereal";
}